body {
    font-family: "Cascadia Code";
    max-width: 40rem;
    margin: 4rem auto;
    padding: 0 1rem;
}

.name {
    font-size: 1.5em;
}

.section-title {
    font-size: 1.3em;
}

.item {
    margin-bottom: 1.5rem;
}

.item__title {
    display: inline;
    font-weight: normal;
}

.item__range {
    white-space: nowrap;
}
