<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ryang Sohn</title>
		<link rel="stylesheet" href="style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
		<script src="theme-init.js"></script>
	</head>
	<body>
		<a id="theme-toggle" class="theme-toggle" href="#">[dark mode]</a>
		<header>
			<h1 clas="name">Ryang Sohn</h1>
			{% block header %}
			{% endblock header %}
		</header>
		<article>
			{% block content %}
			{% endblock content %}
		</article>
		<script src="theme-toggle.js"></script>
	</body>
</html>
