{% extends "base.html" %}
{% block header %}
    {% for link in resume.links %}
        <a class="item__link" href="{{ link.url }}">[{{ link.name }}]</a>
    {% endfor %}
{% endblock header %}
{% block content %}
    {% for section in resume.sections %}
        <section>
            <h2 class="section-title">{{ section.name }}</h2>
            {% for item in section.items %}
                <div class="item">
                    <h3 class="item__title">{{ item.title }}</h3>
                    <sup class="item__range">{{ item.range }}</sup>
                    <span class="item__subtitle">{{ item.subtitle }}</span>
                    {% for link in item.links %}
                        <a class="item__link" href="{{ link.url }}">[{{ link.name }}]</a>
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock content %}
