{% extends "base.html" %}
{% block header %}
    {% for link in resume.links %}
        <a class="item__link" href="{{ link.url }}">[{{ link.name }}]</a>
    {% endfor %}
{% endblock header %}
{% block content %}
    {% for section in resume.sections %}
        <section class="section">
            <h2 class="section-title">{{ section.name }}</h2>
            {% for item in section.items %}
                <div class="item{% if loop.index0 >= 3 %} item--extra{% endif %}">
                    <h3 class="item__title">{{ item.title }}</h3>
                    <sup class="item__range">{{ item.range }}</sup>
                    <div class="item__meta">
                        <span class="item__subtitle">{{ item.subtitle }}</span>
                        {% if item.links | length > 0 %}
                            <br>
                        {% endif %}
                        {% for link in item.links %}
                            <a class="item__link" href="{{ link.url }}">[{{ link.name }}]</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% if section.items | length > 3 %}
                <a class="section-toggle" href="#">[+ show more]</a>
            {% endif %}
        </section>
    {% endfor %}
{% endblock content %}
